body{
    margin:0%;
    padding:0%;
   
}
.first_layer{
    background: black;
    margin-bottom: 1em;
    
}
.div{
    color: white;
    font-family: impact;
    font-size: 50px;
    margin-left: 0.5em;
}
.second{
    height: 37px;
    width: 37px;
    background: white;
    margin-left: 7em;
    margin-top: -3em;

}
.siv{
    background: black;
    color: white;
    margin-left: 7em;
    margin-top: -1.7em;
    width: 37px;
}
.vaa{
    color: white;
    text-decoration: none;
    margin-left: 1em;
    
}
.all_a{
    margin-left: 9em;
    margin-top: -1.1em;
}
.log{
    margin-left: 40em;
    color: white;
    text-decoration: none;
}
.type{
    width: 65em;
    margin-top: 2em;
    height: 39px;
    border-radius: 3px;
    margin-left: 18em;
    border: none;

}
.submit{
    height: 41.5px;
    border-radius: 3px;
    width: 100px;
    margin-left: -0.5em;
    border: none;
    background: orange;

}
.sign{
    background: black;
    border-color: orange;
    color: white;
    padding: 0.5em;
    border-radius: 20px;
    margin-left: 2em;
}
.art, .gen, .typ{
    text-decoration: underline;
    color: white;
}
.art{
    margin-left: 3.5em;
}
.second_a{
    padding-bottom: 1em;
    margin-left: 14em;
    margin-top: 0.5em;
    color: white;
    text-decoration: none;
}
.third_as{
    background: rgb(58, 71, 83);
    margin-top: -1.6em;
    font-size: 13px;

}
#first_select{
    background: rgb(58, 71, 83);
    border-radius: 7px;
    font-size: 13px;
  
}
.third_a{
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
}
.th{
    margin-left: 19em;
    color: white;
    text-decoration: none;
}
.dd{
    margin-left: 17.9em;
    color: white;
    text-decoration: none;
}
.bid, .third_ao{
    color: orange;
    text-decoration: none;
}
.first_img{
    margin-left: 15em;
    width: 71%;
    margin-top: 1.5em;
    border: 10px solid rgb(177, 196, 214) ;
    border-radius: 5px;
}
.second_layer{
    background: rgb(91, 106, 121);
    
}
.a_home{
    text-decoration: none;
    color: white;
}
.a_coun{
    text-decoration: none;
    color: rgb(177, 193, 209);
}
.third_div{
    width: 160px;
    height: 17px;
    border-color: rgb(177, 193, 209);
    background: rgb(97, 119, 141);
    margin-left: 15em;
    padding-left: 10px;
    border-radius: 5px;
    padding: 8px;
}
.need{
    width: 70px;
    height: 17px;
    border-color: rgb(177, 193, 209);
    background: rgb(97, 119, 141);
    margin-left: 83.7em;
    padding-left: 5px;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin-top: -2.5em;
}
.third_layer{
    color: white;
    font-family:Times New Roman;
    font-size: 35px;
    margin-left: 5.5em;
    margin-top: 1em;
}
.sub_third_layer{
    color: rgb(239, 240, 255);
    margin-left: 15.5em;
}
.gift_div{
margin-left: 70em;

}
.at{
    margin-top: 10em;
}
.cif{
    margin-top: 5em;
}

.fifth_layer{
	margin-left:67em;
	margin-top:-7.5em;
}
#kings{
	color: white;
	border: none;
	background-color:#9daab1;
	border-radius:2px;
	font: 13px calibri;
	width:300px;
	height:25px;
	padding:0.3em;
}
.show{
	color:#d1caca;
    font:12px calibri;
    margin-top: -4em;

}
.sixth_end{
	margin-top:5em;
}
.die{
    margin-left: 15em;
    color: white;
    text-decoration: none;
}
.ride{
    background: black;
    border-color: orange;
    color: white;
    padding: 0.5em;
    border-radius: 20px;
    margin-left: 2em;
}
.ters{
    margin-left: 15em;
    margin-top: 2em;
    border-radius: 18px;
    border-color: white;
    background-color: rgb(91, 106, 121);
    padding: 0.7em;
    
}
.arew{
    margin-left: 33em;
border-radius: 18px;
border-color: palevioletred;
background-color: rgb(91, 106, 121);
padding: 0.7em;
}
.oou{
    width: 40px;
    margin-left: 26.5em;
}
.gold{
    color: white;
    border-bottom: 1px solid rgb(109, 124, 139);
    width: 60%;
    margin-left: 22em;
}
.xa{
    margin-left: 7em;
}
.ax{
    margin-left: 25em;
    margin-top: -1.2em;
}
.sax{
    margin-left: 43em;
    margin-top: -1.2em; 
}

.sta{
    display: flex;
    color: white;
}
.div1{
    width: 40px;
    height: 40px;
    background:white;
    border-radius: 30px;
    margin-left: 16em;
    margin-top: 1em;
}
#filt{
    color: white;
}
#pro_max{
    color: palevioletred;
}
.second_circle{
    background: #344a55;
    padding: 1em;
    padding-bottom: 1.5em;
    padding-top: 0.7em;
    padding-right: 1.06em;
    width: 8px;
    border-radius: 25px;
    height: 6px;
    margin-top: 0.3em;
    margin-left: 1.5em;
}
#fa_download{
    width: 10px;
    color: white;
    margin-left: -0.3em;
    padding-bottom: 5em;
}
.third_circle{
    background: #344a55;
     padding: 1em;
    padding-bottom: 1.4em;
    padding-top: 0.8em;
    padding-right: 1.06em;
    width: 8px;
    border-radius: 25px;
    height: 6px;
    margin-top: 0.3em;
    margin-left: 1.5em;
}
#fas_filter{
    width: 10px;
    color: white;
    margin-left: -0.3em;
    padding-bottom: 5em;
}
.forth_circle{
    background: #344a55;
    padding: 1em;
    padding-bottom: 1.5em;
    padding-top: 0.7em;
    padding-right: 1.06em;
    width: 8px;
    border-radius: 25px;
    height: 6px;
    margin-top: 0.3em;
    margin-left: 1.5em;
}
#fa_cart{
    width: 10px;
    color: white;
    margin-left: -0.3em;
    padding-bottom: 4em;
}
.div2{
 margin-left: 8em;  
 margin-top: 2em; 
}
.div3{
    margin-left: 3em;
    margin-top: -2em;
}
.div4{
    margin-left: 5.5em;
    margin-top: 0.5em;
}
.table_all{
    width: 30px;
    height: 30px;
    color: white;
    margin-top: 0.5em;
    display: flex;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10em;
    padding: 0.5em;
}
.table_1{
    background: rgb(134, 147, 160);
    margin-right: -em;
    border: 1px solid rgb(158, 157, 157);
    padding: 0.5em;
    color: white;

}
.table{
    background: rgb(134, 147, 160);
    margin-right: -0.1em;
    border: 1px solid rgb(158, 157, 157);
    padding: 0.8em;
   
}
.tabl_3{
    background: rgb(134, 147, 160);
    margin-right: -0.1em;
    border: 1px solid rgb(158, 157, 157);
    padding: 0.8em; 
   
}
.tabl_4{
    background: rgb(134, 147, 160);
    margin-right: -0.1em;
    border: 1px solid rgb(158, 157, 157);
    padding: 0.8em;
   
}
.tabl_5{
    background: rgb(134, 147, 160);
    margin-right: -0.1em;
    border: 1px solid rgb(158, 157, 157);
    padding: 0.8em;
    
}
.tabl_6{
    background: black;
    margin-right: -0.1em;
    border: 1px solid rgb(158, 157, 157);
    padding: 0.8em;
    color: white;
   
}
.mage{
    background: orange;
    border:2px solid white;
    box-shadow: 0 0 2px gray;
    color: black;
    padding: 1.5em;
    border-radius: 5px;
    margin-left: 49em;
    width: 140px;
    margin-top: 2em;
    font-family: Arial Black;
   
}
.mages{
    margin-top: -0.1em;
    margin-left: 2em;
}
#t_1{
    background: rgb(94 121 132);
    color: white;
    width: 10px;
    height: 20px;
    border-radius: 20px;
    margin-left: 0.2em;
    margin-top: 0.2em;
    padding: 1em;
    padding-right: 0.8em;
    padding-bottom: 0.3em;
    padding-top: 0.8em;
}
#t_sd{
    color: white;
    margin-left: 2em;
    margin-top: 2em;
}
.xup{
    background: rgb(94 121 132);
    box-shadow: 0 0 2px gray;
    color: white;
    padding: 1em;
    border-radius: 4px;
    margin-left: 1em;
    width: 750px;
    margin-top: 2em;
    font-family: Arial Black;
}
.pad_all{
    margin-left: 0.8em;
    margin-top: 1em;
    color: white;
    box-shadow: rgb(97, 119, 141);
    padding: 1em;
    border-radius: 4px;
    width: 750px;
}
.fufit{
    border:2px solid gray; 
    width: 800px;
    margin-left: 20em;
    margin-top: 2em;

}
.kolo{
    margin-left: 40em;
    margin-top: 1em;
    padding: 1em;
    font: bold 14px arial;
    
}
.fifty_layer{
    background: white;
    height: 0.5em solid gray;
    padding-top: 4em;
}
.orem{
    margin-left: 35em;
    margin-top: -1em;
    padding: 1em;
    font: 11px arial
}
.rig{

}
.ute{
    margin-left: 27em;
    margin-top: 1em;
    color: black;
    border:2px solid gray;
    padding: 1em;
    border-radius: 4px;
    width: 250px;
    font: 14px Arial Black;
    text-align: center;
}
.utem{
    margin-left: 48em;
    margin-top: -5em;
    color: black;
    border:2px solid rgb(253, 194, 214);
    padding: 1em;
    border-radius: 4px;
    width: 250px;
    background: rgb(253, 194, 214);
    font: 14px Arial Black;
    text-align: center;
}
.was{
    margin-left: 52em;
    margin-top: -0.5em;
    padding: 1em;
    font: 11px arial
}
.sey{
    margin-left: 62em;
    margin-top: -3em;
    padding: 1em;
    font: 11px arial  
}
.on{
    margin-left: 64em;
    margin-top: -3em;
    padding: 1em;
    font: 11px arial
}
.fifty_layers{
    background: rgb(58, 71, 83);
    height: 0.5em solid gray;
    padding-top: 4em;
}
.gup{
    background: rgb(94 121 132);
    box-shadow: 0 0 2px gray;
    color: white;
    padding: 1em;
    border-radius: 4px;
    margin-left: 1em;
    width: 750px;
    margin-top: 2em;
    font-family: Arial Black;
}
.gad_all{
    margin-left: 0.8em;
    margin-top: 1em;
    color: white;
    box-shadow: 0 0 2px gray;
    padding: 1em;
    border-radius: 4px;
    width: 750px;
    background: #121b2a;
}
.fup{
  
    width: 800px;
    margin-left: 20em;
    margin-top: -1em;
    box-shadow: 0 0 2px gray;
}
.gad_al{
    margin-left: 0.8em;
    margin-top: 1em;
    color: white;
    box-shadow: 0 0 2px gray;
    padding: 1em;
    border-radius: 4px;
    width: 750px; 
    text-align: center;
    font:9px Arial Black;
}
.dodo{
    margin-left: 0.1em;
    margin-top: -0.5em;
    color: white;
    box-shadow: 0 0 2px gray;
    padding: 1em;
    border-radius: 4px;
    width: 720px;
    background: #192231;
}
.mous{
    font: bold arial;
    color: gold;
    margin-top: 2em;
    margin-left: 10em;
    font: 14px Arial Black;
}
.dango{
    color: gold;
    font:14px Arial Black;
}
.ccffg{
    margin-left: 10em;
    margin-top: 1em;
    font:14px Arial Black;
}
.gvb{
    margin-top: -1em;
    font:14px Arial Black;
 }
  .wants_coupon{
      width:103.7em;
  }
 .dugud{
     background: white;
 }
 .wing{
     margin-left: 30em;
     margin-top: -20em;
 }
 .noil{
     background: gold;
     padding-top: 6em;
 }
 .fads{
    margin-left: 7em;
    font: bold 20px arial;
 }
 .vivo{
     font-size: 18px;
     font-family: arial bold;
     margin-left: 8em;
 }
 .voder{
    border-radius: 10px;
    box-shadow:0 0 4px;
    margin-left: 11em;
    padding: 0.5em;
    width: 250px;
    margin-top: 3em;
    color: white;
    background: rgb(226, 201, 58);
 }
 .bxd{
    border-radius: 10px;
    background: black;
    margin-left: 8em;
    padding: 0.4em;
    width: 120px;
    margin-top: 1.5em;
    color: gold;
    font: 18px arial;
    border: 3px solid rgb(187, 186, 186);
 }
 .xux{
     margin-left: 11em;
     margin-top: 1em;
 }
 .tecno{
     background: rgb(58, 71, 83);
     padding-top: 6em
 } 
 .nigdf{
    border: 2px solid grey;
    width: 39%;
    margin-left: 19em;
    padding-left: 30em
 }
 .box{
 margin-left: 25em;
 margin-top: 4em;
 color: white;
 box-shadow: 0 0 4px;
 padding: 1em;
 border-radius: 4px;
 width: 750px;
 background: rgb(51, 63, 75);
 }
 .ases{
    box-shadow:0 0 2px;
    color: white;
    font: 20px arial ;
    padding: 0.5em;
 }
 .azs{
    color: white;
    font: 20px arial;
    margin-top: 1em;
 }
 .boxl{
    margin-left: 25em;
    margin-top: 2em;
    color: white;
    box-shadow: 0 0 4px;
    padding: 1em;
    border-radius: 4px;
    width: 750px;
    background: #3c8598;
 }
 .ghg{
     margin-top: 1em;
     font-size: 14px;
 }
 .boxll{
    margin-left: 25em;
    margin-top: 2em;
    color: white;
    box-shadow: 0 0 4px;
    padding: 1em;
    border-radius: 4px;
    width: 750px;
    background: #50517f;
 }
 .ghgg{
     margin-top: 1em;
     font-size: 14px;
 }
 .genre_row{
    font-size: 20px;
    display: flex;
    margin-left: 14em;
    margin-top: 3.5em;
    font-family: arial;
    color: white;
}
.typs, .temp{
    margin-left: 1em;
    margin-top: 1em;
}
.gens{
    background: black;
    padding: 1em;
    border-radius: 5px;
    padding-bottom: 2em;
    height: 20px;
   
}
.word_layer{
    font-family: Times New Roman;
    padding-left: 21em;
    display: flex;
    color: orange;
    background: black;
    padding-top: 3em;
    margin-top: -1em;
    padding-bottom: 5em;
}
.word_layer1, .word_layer2, .word_layer3{
    margin-left: 8em;
}
.free_layer{
    padding-left: 19em;
    background: rgb(197, 197, 197);
    font-family: arial;
    display: flex;
}
.free_layer2{
    padding-top: 2em;
    font-size: 40px;
    font-weight: bold;
}
.free_layer3{
    font-size: 20px;
    color: rgb(51, 49, 49);
}
.free_layer4{
    width: 130%;
    height: 30px;
    border-radius: 20px;
    margin-top: 6.5em;
    margin-left: 4em;
    border: none;
    color: white;
    background: rgb(63, 61, 61);
}
.free_layer5{
    width: 130%;
    height: 30px;
    border-radius: 20px;
    margin-left: 4em;
    margin-top: 2em;
    border: none;
    background: rgb(63, 61, 61);
    color: white;

}
.free_layer6{
    width: 100px;
    border-radius: 15px;
    background: black;
    color: orange;
    height: 25px;
    margin-left: 15em;
    margin-top: 1em;
    border: 2px solid orange;
}
.free_layer7{
    background: rgb(197, 197, 197);
    padding-top: 2em;
    font-size: 12px;
    padding-left: 19em;
    padding-bottom: 5em;
}
.royalties_layer{
    color: white;
    background: black;
    padding-left: 0.5;
    padding-top: 3em;
    padding-bottom: 2em;
}
.first_royalty{
    box-shadow: 0 0 2px gray;
    width: 260px;
    padding-top: 0.5;
    margin-left: 2em;
    font: bold 15px arial;
   
}
.royal2{
    padding-left: 0.5;
    padding-bottom: 0.5;
}
.royal33{
    box-shadow: 0 0 2px gray;
    padding-left: 0.5;
    padding-top: 0.5;
    padding-bottom: 0.5;
}
.royal55{
    box-shadow: 0 0 2px gray;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.first_royaltys{
    box-shadow: 0 0 2px gray;
    width: 260px;
    padding-top: 1em;
    margin-left: 0.5em;
    font: bold 15px arial;
   
}
.royal22{
    padding-left: 0.5em;
    padding-bottom: 1em;
}
.royal333{
    box-shadow: 0 0 2px gray;
    padding-left: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.last_layer{
	background-color:black;
	padding-bottom:2em;

}
.containing_last_layer{
	margin-left:10em;
	display: flex;
	padding-top:10em;

}
.main_last_layer{
	box-shadow:0.5px 1px 3px 1px #778489;
	height:40em;
	width:20.5em;
}
.from_tracks{
	padding-top:12px;
	padding-left:12px;
	border-bottom:1px solid #778489;
	height:25em;
}
.from_tracks2{
	padding-top:12px;
	padding-left:12px;
	border-bottom:1px solid #778489;
	height:8em;
	
}
.from_tracks3{
	padding-top:12px;
	padding-left:14px;
	
	
}
.main_last_layer2{
	margin-left:2em;
	box-shadow:0.5px 1px 3px 1px #778489;
	height:31em;
	width:20.5em;
}
.from_tracks4{
	padding-top:12px;
	padding-left:10px;
	border-bottom:1px solid #778489;	
	height:15.7em;
}
.from_tracks5{
	padding-top:12px;
	padding-left:10px;
}
.main_last_layer3{
	margin-left:2.3em;
	box-shadow:0.5px 1px 3px 1px #778489;
	height:39em;
	width:20.5em;
}
#new_usd{
	color: white;
	border: none;
	background-color:#1b1f22;
	border-radius:6px;
	font: 13px calibri;
	width:50px;
	
}
.from_tracks6{
	padding-top:12px;
	padding-left:10px;
	border-bottom:1px solid #778489;
	height:8em;
}
.last_img{
	width:120px;

}
.from_tracks7{
	padding-top:12px;
	padding-left:10px;
}
.last_img2{
	width:87px;
	padding-left:32px;	
}
.from_tracks7{
	padding-top:12px;
	padding-left:18px;	
}
.from_tracks8{
	padding-top:12px;
	padding-left:18px;	
}
.main_last_layer4{
	margin-left:2.3em;
	box-shadow:0.5px 1px 3px 1px #778489;
	height:19em;
	width:17em;	
}
.from_track8{
	padding-top:12px;
	padding-left:18px;
	border-bottom:1px solid #778489;
	height:10em;		
}
.from_tracks9{
	padding-top:12px;
	padding-left:18px;	

}
.reserved{
	color:#778489;
	margin-top:2.5em;
	text-align: center;
	font-size:12px;
}
#real{
	color:black; 
	width:90em;
	height:1px;
}
	color:black; 
	width:90em;
	height:1px;
}

 

 











 